body{
    /*max-width:90vw !important;*/
}

#main-doc{
    display:grid;
    
  }
  .doc-title{
      text-align: center;
  }
  #navbar{
    display:flex;
    height: 200px;
    justify-content: flex-start;
    align-items: flex-start;
    border-top:2px solid grey;
    border-bottom: 2px solid grey;
    text-align: left;
    overflow: hidden;
    overflow-y: scroll;
  }
  
  ul {
    list-style-type:none; 
    display:flex;
    flex-direction: column;
    justify-items: flex-start;
    align-content: flex-start;
    width: 100%;
  }

  li {
    justify-self: start;
    box-sizing: border-box;
    border-bottom: 1px solid gray;
    padding:1rem; 
   font-weight: 700;
    text-align: left;
  }
  .last-list{
      border-bottom: none !important;
  }
  li:hover{
      text-decoration: none;
      
  }
  a:link{
      text-decoration: none;
      color:black;
  }
  a:hover{
    font-size: larger;  
  }

  a:visited{
      text-decoration: none;
      color:black;
  }
  .wrapper{
      max-width:100%;
      display:flex;
      flex-direction: column;
      margin-left:2rem;
      align-items: left;
  }

  h3{
      text-decoration: underline;
      text-transform: uppercase;
  }
  h4{
      text-indent: 1em;
  }

  #paragraph-lists{
      text-indent: 2em;
  }
  .pli{
      border: none;
      font-weight: 100;
  }
  p{
      line-height: 1.75rem;
  }
  .code{
      text-indent: 2em;
      line-height: 1.75rem;
  }
